{% extends 'base.html' %}{% block title %}Register{% endblock %}{% block body %}
<h1>Register</h1>
<br>
<div class="form-control">
    <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <table style="border: 3px solid black"></table>
        <tr>
            <td>CAPTHA</td>
            <td>
                <canvas id="myCanvas" width="250" height="80" style="background-color: beige;">{{img}}</canvas>

            </td>
        </tr>
        <tr>
            <td><input type="text" class=" mt-3 mb-3" name="captha"></td>
        </tr>
        </table>

    </form>


    <button class="btn btn-secondary" type="submit">Register</button>
    </form>
</div>
<script>
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");
    ctx.font = "30px Comic Sans MS";
    ctx.fillStyle = "red";
    ctx.textAlign = "center";
    ctx.fillText("{{img}}", canvas.width / 2, canvas.height / 2);
</script>
{% endblock %}